{% include './includes/header.twig' %}

<main class="home-page">
  <div class="home-page__main-content">
    <h1>E-commerce webpage</h1>

    <div class="products">
      {% for product in products %}
        <div class="product-item">
          <h2>{{ product.getName }}</h2>
          <p>{{ product.getDescription }}</p>
          <p>Prix : {{ product.getPrice }} €</p>
        </div>
      {% endfor %}
    </div>
  </div>
</main>

{% include './includes/footer.twig' %}
