{% include './includes/header.twig' %}
<body>
    <h1>Connexion</h1>
    <form action="/login" method="POST">
    <label>Email :</label><input type="email" name="email" required><br>
    <label>Mot de passe :</label><input type="password" name="password" required><br>
    <button type="submit">Se connecter</button>
</form>

</body>
</html>
