.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #B22222; // Rouge de Noël
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  &__logo {
    display: flex;
    align-items: center;

    svg {
      border-radius: 50%;
      background-color: #ffffff;
      padding: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
  }

  &__burger {
    cursor: pointer;

    svg rect {
      transition: all 0.3s ease-in-out;
    }

    &:hover svg rect {
      fill: #00FF7F; // Vert festif
    }

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}

.desktop-navigation {
  display: none;

  @media screen and (min-width: $tablet) {
    display: block;
  }

  &__nav-items {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  &__nav-item {
    a {
      color: #ffffff;
      font-size: 1rem;
      text-decoration: none;
      padding: 10px 20px;
      background: linear-gradient(45deg, #228B22, #00FF7F); // Dégradé festif vert
      border-radius: 5px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #ffffff;
        color: #B22222;
      }
    }
  }
}
